*{
    background-image: linear-gradient(to right, lightblue, darkcyan);
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;

    background: lightcyan;
    background-size: 20px;
    opacity:60%;
    border-radius: 20px;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#cityName, #inputContainer,button,#newdiv{
    background-image: linear-gradient(to right, lightblue, darkcyan);
    margin-top: 0;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
}

#weatherContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(97, 95, 95, 0.829);    
    border-radius: 10px;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;    
    background: rgb(190, 228, 228);
    border-radius: 10px;
}

.icons{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    display: inline-bock;
    float:inline-start;
    height: 200px;
    width: 190px;
    margin: 20px;
    margin-left: 30px;
    border-radius: 20px;
}

.image{
    height: 122px;
    width: 100%;
}

.imgClass{
    height: 100px;
    width: 100%;
}

.weather{
    margin: 5px;
    background-color: rgb(106, 215, 255); 
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    background: lightcyan;
    opacity:60%;
}


.maxValues{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    background: lightcyan;
    opacity:60%;
}

#about{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    width: 155px;
    background-size: 20px;
    
}
button{
    background: rgb(190, 228, 228);
    border-radius: 20px;
}

#cityInput{
background-color: white;

}
#left{
    text-align: right;
}
